.footer_head {
  grid-column: 1/4;
  /* background-color: blue; */
  border: 1px solid black;
}

.footer_body {
  grid-column: 1/4;
  /* background-color: green; */
  /* border: 1px solid black; */
  text-align: center;
  justify-content: center;
}
