.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* to ensure that overlapping parts are clipped*/
  position: relative;
  background: #1e1e2e;
  overflow: hidden;
}

img,
.login-form {
  padding: absolute;
  top: 10%;
  height: 80%;
  width: 50;
}

img {
  left: 10%;
  object-fit: cover;
}

.text {
  position: absolute;
  bottom: 10%;
  left: 25%;
  color: #ffffff;
  font-size: 1.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login-form:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px; /* This positions the psuedo-element just ouside the form */
  width: 50px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    /* transparent 50%, */ rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; /* Ensures that this doesnt interfere with interactions*/
}
.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="username"],
.login-form input[type="password"] {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  order: none;
  border-radius: 5px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
