body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid: auto 2fr auto / 100px 1fr 100px;
}

.home_head,
.sidebar_head,
.footer_head,
.home_head,
.navbar_head,
.left_sidebar_container {
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    grid: repeat(5, 1fr) / 1fr;
  }

  .navbar_head,
  .footer_head,
  .sidebar_head,
  main,
  .right-sidebar {
    grid-column: 1 / 2;
  }
}
